body {
	background: black;
	font: 'Sans Serif';
}

/*display */

.display {
	position: fixed; 
	z-index: 2;
	color: black;
	font: Sans Serif;
	
	background: white;
	cursor: default;
}

/*back button*/

.back {
	position: fixed;
	z-index: 2;
	color: white; 
	font: Sans Serif; 
	top: 0vh;
	cursor: default;
}

.backContainer{

	background: white;
}

.hide {
	visibility: hidden;
}

@media (max-width: 700px){

	.display {
		font-size: 3em;
	}

	.back {
		height: 25vh;
	}
}

@media (min-width: 701px){

	.display {
		font-size: 5em;
	}

	.back {
		height: 20vh;
	}
	.back:hover {
		filter: drop-shadow(1px 1px 1px black) invert(50%);
	}

}