body {
	background: black;
	font: 'Sans Serif';
}

/*display */

.display {
	position: fixed; 
	z-index: 2;
	color: black;
	font: Sans Serif;
	font-size: 5em;
	background: white;
	cursor: default;
}

/*back button*/

.back {
	position: fixed;
	z-index: 2;
	color: white; 
	font: Sans Serif; 
	top: 10vh;
	height: 20vh; 
	cursor: default;
}

.back:hover {

	/*filter: blur(20px);*/
	filter: drop-shadow(1px 1px 1px black) invert(50%);
}

.backContainer{

	background: white;
}

.hide {
	visibility: hidden;
}




@media (min-height: 700px){

  #submit-left-button{
    height: 150px;
  }
}
